<!DOCTYPE html>
<html lang="en">
<head>
    <title>Khu du lịch HoangVan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/popup-box.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/poposlides.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


    <div class="demo-inner-content" id="home">
        <div class="main_agileits">
            <div class="header-w3layouts">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header page-scroll">

                            <h1><a class="navbar-brand" href="#">HoangVanCo</a></h1>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-right cl-effect-15">
                                <li class="hidden"><a class="page-scroll" href="#page-top"></a>	</li>
                                <li><a class="page-scroll scroll" href="#home">Trang chủ</a></li>
                                <li><a class="page-scroll scroll" href="#about">Thông tin</a></li>
                                <li><a class="page-scroll scroll" href="#packages">Điểm tham quan</a></li>
                                <li><a class="page-scroll scroll" href="#stats">Thống kê</a></li>
                                <li><a class="page-scroll scroll" href="#contact">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="w3-banner-head-info">
                <div class="container">
                    <div class="banner-text">
                        <i class="fa fa-cloud" style="font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>
                        <h2 class="editContent">KHU DU LỊCH HOÀNG VÂN</h2>
                        <p>"Vịnh Hạ Long thu nhỏ của Miền Nam"</p>
                        <div class="book-form">
                            <form action="SanPham/SanPham?MaLoaiSP=3&MaNSX=6" method="post" class="center">
                                <div class="col-md-3 form-left-agileits-w3layouts editContent">
                                    <div class="agileits_w3layouts_main_gridl">
                                    </div>
                                </div>
                                <div class="col-md-3 form-left-agileits-w3layouts editContent">
                                    <label class="editContent"><span class="fa fa-bus" aria-hidden="true"></span>Chọn ngày</label>
                                    <div class="agileits_w3layouts_main_gridl">
                                        <input class="date has Datepicker" id="datepicker" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '03/07/2020';}" required="">
                                    </div>
                                </div>
                                <div class="col-md-2 form-left-agileits-submit editContent">
                                    <input type="submit" value="tìm kiếm">
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slides-box">
                <ul class="slides">
                    <li style="background: url(images/s1.jpg) no-repeat;background-size:cover;"></li>
                    <li style="background: url(images/s2.jpg) no-repeat;background-size:cover;"></li>
                    <li style="background: url(images/s3.jpg) no-repeat;background-size:cover;"></li>
                    <li style="background: url(images/s4.jpg) no-repeat;background-size:cover;"></li>
                    <li style="background: url(images/s5.jpg) no-repeat;background-size:cover;"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w3ls-section w3-about" id="about">
        <div class="container">
            <div class="w3ls-title">
                <h3 class="title"><b>Thông tin</b></h3>
            </div>
            <div class="col-md-6 about-top">
                <h4>Chào mừng bạn đến với khu du lịch</h4>
                <h5><b>Hoàng Vân</b></h5>
                <p>
                    Đến với Hoàng Vân bạn sẽ vô cùng ngạc nhiên với sự bài trí và sắp đặt tinh tế của những con đường hoa,
                    những tiểu cảnh mang màu sắc của những khu vườn của quý tộc Châu Âu hiện hữu tại TPHCM. Từ phòng vé đi vào là một con
                    đường sắc màu với mái che là hàng ngàn bông hoa hồng treo với sắc màu sặc sỡ, con đường dẫn đến một khu vui chơi giải trí
                    trong nhà mang chủ đề thiên nhiên hoà quyện với đất trời.
                </p>
                <!--<a href="#" class="button button--nina" data-text="Learn more" data-toggle="modal" data-target="#myModal">Read More</a>-->
            </div>
            @*<div class="col-md-4 middle-img">
                    <img src="images/package1.jpg" alt="about image" />
                </div>*@
            <div class="col-md-4 about-top last">
                <h4>Videoclip khu du lịch Hoàng Vân</h4>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/dks-sfO4YM8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
            <div class="clearfix"></div>
            <div class="agileinfo-about-grid text-center">
                <div class="col-md-4 col-xs-6 w3ls-about-grid">
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    <h6>Dịch vụ</h6>
                    <p>
                        Thế mạnh là dịch vụ đa dạng có chất lượng cao trong quá trình hội nhập, Công ty Hoangvanco vinh dự
                        được bình chọn là Thương hiệu Việt Nam từ năm 2008 đến nay.
                    </p>
                </div>
                <div class="col-md-4 col-xs-6 w3ls-about-grid about-2">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <h6>Thương hiệu</h6>
                    <p>
                        Công ty Hoangvanco được bình chọn vị trí Đứng đầu du lịch Việt Nam. Đây là danh hiệu cao quý nhất,
                        chính thức của ngành du lịch, Hiệp hội Du lịch xét duyệt, công bố.
                    </p>
                </div>
                <div class="col-md-4 col-xs-6 w3ls-about-grid">
                    <span class="fa fa-cogs" aria-hidden="true"></span>
                    <h6>Trách nhiệm</h6>
                    <p>
                        Danh hiệu xếp hạng dựa trên lượng khách phục vụ, doanh thu, đặc biệt chú trọng hiệu quả lợi nhuận
                        kinh doanh, nộp ngân sách, chất lượng dịch vụ cung cấp.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="travel">
        <div class="container">
            <h4>Khu du lịch Hoàng Vân</h4>
            <p>Đây khu du lịch được xây dựng xuyên suốt trên chủ đề của muôn loài hoa mang màu sắc của quý tộc, sang trọng và quyền quý.</p>
            <div class="text-center">
            </div>
        </div>
    </div>

    <div class="packages" id="packages">
        <div class="container">
            <div class="wthree_head_section">
                <h3 class="title"><b>Các điểm tham quan</b></h3>
            </div>
            <div class="packages_grids">
                <div class="packages_grid1">
                    <div class="col-md-3 package1">
                        <img src="images/s6.jpg" alt="package1" />
                        <h4>Đồi Thiên Phúc Đức</h4>
                        <a href="#home" class="w3_agileits_sign_up2 popup-with-zoom-anim ab scroll">Đặt vé</a>
                    </div>
                    <div class="col-md-3 package1">
                        <img src="images/package2.jpg" alt="package1" />
                        <h4>Vườn hoa lavender</h4>

                        <a href="#home" class="w3_agileits_sign_up2 popup-with-zoom-anim ab scroll">Đặt vé</a>
                    </div>
                    <div class="col-md-6 package1">
                        <img src="images/package3.jpg" alt="package1" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="packages_grid2">
                    <div class="col-md-6 package1">
                        <img src="images/package6.jpg" alt="package1" />
                    </div>
                    <div class="col-md-3 package1">
                        <img src="images/package4.jpg" alt="package1" />
                        <h4>Cây thông cô đơn</h4>
                        <a href="#home" class="w3_agileits_sign_up2 popup-with-zoom-anim ab scroll">Đặt vé</a>
                    </div>
                    <div class="col-md-3 package1">
                        <img src="images/package5.jpg" alt="package1" />
                        <h4>Vườn hoa cẩm tú cầu</h4>
                        <a href="#home" class="w3_agileits_sign_up2 popup-with-zoom-anim ab scroll">Đặt vé</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="stats" id="stats">
        <div class="container">
            <h3 class="title"><b>Thống kê</b></h3>
            <div class="agileits_stats_grids">
                <div class="col-md-3 col-xs-4 agileinfo_stats">
                    <div class="agileinfo_stats_grid">
                        <p class="counter">85</p>
                        <h3>Diện tích</h3>
                    </div>
                </div>
                <div class="col-md-3 col-xs-4 agileinfo_stats mid-w3l-stat">
                    <div class="agileinfo_stats_grid">
                        <p class="counter">2019</p>
                        <h3>Ngày thành lập</h3>
                    </div>
                </div>
                <div class="col-md-3 col-xs-4 agileinfo_stats mid-w3l-stat">
                    <div class="agileinfo_stats_grid">
                        <p class="counter">72491</p>
                        <h3>Vé đã bán</h3>
                    </div>
                </div>
                <div class="col-md-3 col-xs-4 agileinfo_stats mid-w3l-stat">
                    <div class="agileinfo_stats_grid">
                        <p class="counter">23</p>
                        <h3>Danh hiệu</h3>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <div class="w3ls-section contact" id="contact">
        <div class="container">
            <div class="w3ls-title">
                <h3 class="title"><b>Bản đồ</b></h3>
            </div>
            <div class="w3ls_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.11903395147!2d106.64883471524237!3d10.802194292304083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175294f2324d6d9%3A0xe43d336538416d1e!2zQ8O0bmcgVHkgVE5ISCBDw7RuZyBOZ2jhu4cgLSBUaW4gSOG7jWMgSG_DoG5nIFbDom4!5e0!3m2!1sen!2s!4v1593763064663!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>

            <div class="contact_wthreerow agileits-w3layouts">

                <div class="col-md-7 w3l_contact_form">
                    <h4>Điền mẫu liên hệ</h4>
                    <form action="#" method="post">
                        <input type="text" name="Name" value="Tên" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tên';}"
                               required="">
                        <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"
                               required="">
                        <input type="text" name="Phone" value="Điện thoại" onfocus="this.value = '';" onblur=" if (this.value= ='' ) { this.value='Điện thoại' ; }"
                               required="">
                        <textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tin nhắn...';}" required="">Tin nhắn...</textarea>
                        <input type="submit" value="Gửi mẫu">
                    </form>
                </div>
                <div class="col-md-5 agileits_w3layouts_contact_gridl">
                    <div class="agileits_mail_grid_right_grid">
                        <h4>Thông tin liên hệ</h4>
                        <p>
                            Mọi chi tiết xin liên hệ
                        </p>
                        <ul class="contact_info">
                            <li><span class="fa fa-map-marker" aria-hidden="true"></span>156/1/35 Cộng Hòa, Phường 12, Quận Tân Bình, TP. HCM</li>
                            <li><span class="fa fa-envelope" aria-hidden="true"></span><a>Info@Hoangvanco.Com.Vn</a></li>
                            <li><span class="fa fa-phone" aria-hidden="true"></span>028 3842 9843 / 3842 9845</li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //contact -->
    <!-- footer start here -->
    <div class="footer-agile">

        <div class="container">
            <div class="footer-btm-agileinfo">

                <div class="col-md-3 col-xs-3 footer-grid">
                    <h3>Thông tin liên hệ</h3>
                    <ul>
                        <li><i class="fa fa-phone"></i>028 3842 9843 / 3842 9845</li>
                        <li><i class="fa fa-fax"></i>028 3842 9856</li>
                        <li><i class="fa fa-map-marker"></i>156/1/35 Cộng Hòa, Phường 12, Quận Tân Bình, TP. HCM</li>
                        <li><i class="fa fa-envelope-o"></i><a>info@hoangvanco.com.vn</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-3 footer-grid w3social">
                    <h3>Chọn nhanh</h3>
                    <ul>
                        <li><a href="#home">Trang chủ</a></li>
                        <li><a href="#about" class="scroll">Thông tin</a></li>
                        <li><a href="#packages" class="scroll">Điểm tham quan</a></li>
                        <li><a href="#stats" class="scroll">Thống kê</a></li>
                        <li><a href="#contact" class="scroll">Liên hệ</a></li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="footer-agilem">
                <div class="col-sm-8 col-xs-9 copy-w3lsright">
                    <p>© Design by <a> PhattLe.</a></p>
                </div>
                <div class="col-sm-4 col-xs-3 social-w3licon">
                    <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/hoangvanco.com.vn/" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
 
   @* <div class="wthree_pop_up">
    <div id="small-dialog" class="mfp-hide agile_signup_form">
        <h2>Điền thông tin đặt vé</h2>
      <form action="#" method="post">

            <div class="form-control">
                <label class="header1">Họ và tên <span>:</span></label>
                <input type="text" id="firstname" name="firstname" placeholder="Vui lòng nhập Họ và tên..." title="Vui lòng nhập Họ và tên" required="">
            </div>

            <div class="form-control">
                <label class="editContent">Nơi bạn muốn đến<span>:</span></label>
                <select class="form-control">
                    <option>Đồi thiên Phúc Đức</option>
                    <option>Vườn hoa lavender</option>
                    <option>Cây thông cô đơn</option>
                    <option>Vườn hoa cẩm tú cầu</option>
                </select>
            </div>

            <div class="form-control">
                <label class="header1">Email <span>:</span></label>
                <input type="email" id="email" name="email" placeholder="mail@gmail.com" title="Vui lòng nhập email" required="">
            </div>

            <div class="form-control">
                <label class="header1">Số điện thoại <span>:</span></label>
                <input type="tel" id="tel" name="tel" placeholder="Vui lòng nhập số điện thoại..." title="Vui lòng nhập số điện thoại" required="">
            </div>

            <div class="form-control">
                <label class="editContent">Ngày đi<span>:</span></label>
                <input class="date has Datepicker" id="datepicker" name="Text" type="text" value="Vui lòng nhập ngày đi..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '04/07/2020';}" required="">
            </div>

            <div class="form-control">
                <label class="editContent">Ngày về <span>:</span></label>
                <input class="date has Datepicker" id="datepicker" name="Text" type="text" value="Vui lòng nhập ngày về..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '04/07/2020';}" required="">
            </div>

            <div class="form-control">
                <label class="editContent">Số lượng khách <span>:</span></label>
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>Liên hệ ...</option>
                </select>
            </div>
            <div class="w3_submit">
                <input type="submit" class="register" value="Submit">
            </div>

        </form>
        </div>
    </div>*@
    <script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}
		function validatePassword(){
			var pass2=document.getElementById("password2").value;
			var pass1=document.getElementById("password1").value;
			if(pass1!=pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
				//empty string means no validation error
		}
    </script>
    <!-- //popup signup form -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- Stats-Number-Scroller-Animation-JavaScript -->
    <script src="js/waypoints.min.js"></script>
    <script src="js/counterup.min.js"></script>
    <script>
	jQuery(document).ready(function( $ ) {
		$('.counter').counterUp({
			delay: 10,
			time: 1000
		});
	});
    </script>
    <!-- //Stats-Number-Scroller-Animation-JavaScript -->
    <!-- Calendar -->
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <script src="js/jquery-ui.js"></script>
    <script>
		$(function() {
			$( "#datepicker,#datepicker1" ).datepicker();
		});
    </script>
    <!-- //Calendar -->
    <!-- for banner js file-->
    <script src="js/poposlides.js"></script>
    <script>
		$(".slides").poposlides();
    </script>
    <!-- //for banner js file-->
    <!-- pop-up-box -->
    <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
				});
			});
    </script>
    <!--//pop-up-box -->
    <!-- requried-jsfiles-for owl -->	<!-- testimonials -->
    <script src="js/owl.carousel.js"></script>
    <script>
		$(document).ready(function () {
			$("#owl-demo2").owlCarousel({
				items: 1,
				lazyLoad: false,
				autoPlay: true,
				navigation: false,
				navigationText: false,
				pagination: true,
			});
		});
    </script>
    <!-- //requried-jsfiles-for owl -->	<!-- //testimonials -->
    <!-- start-smoth-scrolling -->
    <script src="js/SmoothScroll.min.js"></script>

    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
    </script>

    <!-- here stars scrolling icon -->
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
    </script>
    <!-- //here ends scrolling icon -->
    <!-- Scrolling Nav JavaScript -->
    <script src="js/scrolling-nav.js"></script>
    <!-- //fixed-scroll-nav-js -->
    <!-- for bootstrap working -->
    <script src="js/bootstrap.js"></script>
    <!-- //for bootstrap working -->

</body>
</html>